<div class="row-fluid">
	<nav id="search">
                <%= form_tag search_path do %>
                    <label for="search_input">Find the book you need</label>
                    <input type="search" required="" data-autocomplete="/services/en/autocomplete" placeholder="Search for a book" name="q" id="search_input" autocomplete="off" class="acInput">
                    <button type="submit">Go!</button>
                <%end%>
            </nav>
</div>