<div class="container">
		<div class="row">

			<div class="span6">

				<div class="register-info-wraper">
					<div id="register-info">

						<h1>Use the Form behind for FREE Registration</h1>

						<ul>
							<li>It's Free</li>
							<li>What are you waiting for?</li>
							<li>Are you still reading?</li>
							<li>Move on!</li>
						</ul>

					</div>
				</div>

			</div>

			<div class="span6">
				<div id="wraper">
					<form id="register-form" class="form">
						<legend>Register</legend>

						<div class="body">
							<!-- first name -->
							<div class="control-group control-inline">
								<label for="name">First name</label>
								<input name="name" class="input-medium" type="text">
							</div>
							<!-- last name -->
							<div class="control-group control-inline">
								<label for="surname">Last name</label>
								<input name="surname" class="input-medium" type="text">
							</div>
							<!-- username -->
							<label>Username</label>
							<input class="input-huge" type="text">
							<!-- email -->
							<label>E-mail</label>
							<input class="input-huge" type="text">
							<!-- password -->
							<label>Password</label>
							<input class="input-huge" type="text">

						</div>

						<div class="footer">
							<label class="checkbox inline">
								<input type="checkbox" id="inlineCheckbox1" value="option1"> I agree but I will never read this
							</label>
							<br />
							<button type="submit" class="btn btn-success">Register</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
